.button {
    font-size: 1.2rem;
    line-height: 4rem;
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0 7%;
    border-radius: 2rem;

    &.blue {
        background: #3399ff; 
    }
}