header {
    background: #666;
    color: #fff;
    width: 100%;
    overflow: hidden;

    a {
        color: #fff;
    }

    .center {
        width: 80%;
        margin: 2% auto 0 auto;
        overflow: hidden;

        position: relative;
    }

    h1 {
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;

        width: 20%;
        height: 6%;

        a {
            display: block;
            
            width: 100%;
            height: 100%;

            text-indent: -9999px;
            overflow: hidden;

            background: url("../images/logo.svg") center center no-repeat;
        }
    }


    nav.main {
        font-size: 90%;
        margin-left: 20%;
        margin-top: 8px;
        text-align: right;

        a {
            display: inline-block;
            margin: 0px 2%;
        }

        span {
            display: inline-block;
            margin: 0px 2% 0px 6%;
        }
    }

    .tagline {
        font-size: 220%;
        line-height: 120%;
        width: 60%;
        font-weight: 300;
        margin: 15% 0px 15% 0px;

        .button {
            margin-top: 7%;
        }
    }

    .descriptions {
        display: flex;
        justify-content: space-between;
        padding-right: 10%;
        padding-bottom: 3%;
        p {
            font-size: 100%;
            line-height: 160%;
            strong {
                display: block;
                font-weight: normal;
                font-weight: 500;
                font-size: 140%;
            }
            span {
                opacity: 0.87;
            }
        }
    }
}