@import "reset.less";
@import "base.less";
@import "header.less";
@import "footer.less";
@import "buttons.less"; 

main {
    section {
        padding: 7% 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.11);
        text-align: center;

        h2 {
            text-align: center;
            font-weight: 300; 
            font-size: 200%;

            padding-bottom: 5%;
        }

        .text_center {
            text-align: center;
        }

        .block {
            display: block;
        }

        a {
            color: #3399ff;
        }
    }


    .step_line {
        text-align: center;
        display: flex;
        width: 70%;
        margin: 0px auto 5% auto;
        list-style-type: none;
        position: relative;
        
        &:before {
            border-top: 2px dotted #3399ff;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 1px; 
        }

        li {
            position: relative;
            counter-increment: step-counter;
            padding: 0px 5%;
            &:before {
                content: counter(step-counter);
                background: #3399ff;
                border-radius: 100%;
                width: 50px;
                height: 50px;
                font-size: 170%;
                line-height: 50px;
                color: #fff;
                margin-bottom: 5%;
                display: inline-block;
            }

            p {
                opacity: 0.69;
            }
        }
    }

    .list1 {
        width: 70%;
        margin: 0px auto;
        list-style: none;
        li {
            width: 45%;
            padding: 0px 1% 5% 1%;
            display: inline-block;
            text-align: center;
            h3 {
                opacity: 0.87;
                padding: 1% 0 3% 0;
            }
            p {
                opacity: 0.69;
            }
        }
    }

    .carousel {
        height: 300px;
        position: relative;
        
        nav {
            position: absolute;
            left: 50%;
            bottom: 5%;
            a {
                text-indent: -9999;
                overflow: hidden;
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 3px;
                border-radius: 100%;
                background: #3399ff;
                opacity: 0.37;
                &.current {
                    opacity: 1;
                }
            }
        }

        .items {
            margin-left: 50%;
            padding-right: 20%;
            text-align: left;
            h3 {
                padding-bottom: 2%;
                font-size: 100%;
                font-weight: 500;
            }
        }
    }

    .list3 {
        li {
            display: inline-block;
        }
    }

    .tip {
        opacity: 0.54;
        font-size: 60%;
        width: 50%;
        margin: 0 auto;
    }
}